.section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 8px 8px 12px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 8px 8px 12px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 8px 12px 1px rgba(0, 0, 0, 0.75);
}

p {
    font-size: 20px;
    font-weight: 500;
}

.label {
    position: absolute;
    left: -99999px;
}

.inputDiv {
    width: 20%;
    margin-top: -120px;
}

input[type=button] {
    white-space: nowrap;
}

button {
    border-radius: 5px;
    padding: 10px;
    font-weight: 500;
    font-size: large;
}

#formGroupColor {
    border: 2px solid gray;
}

.inputDiv {
    width: 300px;
}